* {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border-width: 0;
    border-color: rgba(0, 0, 0, 0);
}

.unity-builder-viewport {
    min-height: 1px;
    min-width: 1px;
}

.unity-base-slider__tracker {
    width: 10px;
    margin: 0;
    padding: 0;
    background-color: rgb(31, 31, 31);
    position: relative;
}

.unity-base-slider__drag-container {
    width: 10px;
    margin: 0;
    padding: 0;
    background-color: rgb(31, 31, 31);
    position: relative;
}

.unity-base-field__input {
    width: 10px;
    margin: 0;
    padding: 0;
    background-color: rgb(31, 31, 31);
    position: relative;
}

.unity-base-field {
    margin: 0;
    padding: 0;
}

.unity-scroller__slider {
    width: 10px;
    margin: 0;
    padding: 0;
    background-color: rgb(31, 31, 31);
    position: relative;
}

.unity-base-slider--vertical {
    width: 10px;
    margin: 0;
    padding: 0;
    background-color: rgb(31, 31, 31);
    position: relative;
}

.unity-base-slider--horizontal {
    width: 10px;
    margin: 0;
    padding: 0;
    background-color: rgb(31, 31, 31);
    position: relative;
}

.unity-scroller__slider {
    width: 10px;
    margin: 0;
    padding: 0;
    background-color: rgb(31, 31, 31);
    position: relative;
}

.unity-base-slider--vertical {
    width: 10px;
    margin: 0;
    padding: 0;
    background-color: rgb(31, 31, 31);
    position: relative;
}

.unity-base-slider--horizontal {
    width: 10px;
    margin: 0;
    padding: 0;
    background-color: rgb(31, 31, 31);
    position: relative;
}

.unity-scroller--vertical {
    width: 10px;
    margin: 0;
    padding: 0;
    background-color: rgb(31, 31, 31);
    position: relative;
}

.unity-scroller--horizontal {
    width: 10px;
    margin: 0;
    padding: 0;
    background-color: rgb(31, 31, 31);
    position: relative;
}

.unity-scroller__low-button {
    display: none;
}

.unity-scroller__high-button {
    display: none;
}

.unity-scroll-view {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.unity-scroll-view__content-container {
    margin-right: 10px;
    height: 100%;
    max-height: 100%;
}

.unity-scroller--vertical {
    border-left-width: 1px;
    border-left-color: rgb(70, 70, 70);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10px;
}

.unity-scroller--horizontal {
    border-left-width: 1px;
    border-left-color: rgb(70, 70, 70);
    height: 10px;
    width: 100%;
}

.unity-base-slider__dragger {
    background-color: rgb(100, 100, 100);
    border-radius: 2px;
    margin: 0;
    width: 10px;
}

.unity-base-slider__dragger:hover {
    background-color: rgb(255, 141, 0);
}

.unity-base-slider__dragger:active {
    background-color: rgb(255, 141, 0);
}

.unity-base-slider__dragger:focus {
    background-color: rgb(255, 141, 0);
}

.unity-base-slider__dragger:active {
    background-color: rgb(255, 141, 0);
}

.unity-scroll-view__content-viewport {
    margin: 0;
    padding: 0;
}

.body {
    flex-grow: 1;
    width: 100%;
    max-height: 100%;
    height: 100%;
}

.header {
    flex-grow: 1;
    max-height: 7%;
    height: 7%;
    width: 100%;
    flex-direction: row;
    background-color: rgb(46, 46, 46);
    top: 0;
    min-height: 7%;
}

.headerLabel {
    color: rgb(255, 255, 255);
    font-size: 250%;
    -unity-text-align: middle-left;
    left: 1%;
    width: 25%;
}

.upgradePanel {
    flex-grow: 1;
    width: 20%;
    height: 93%;
    max-height: none;
    background-color: rgba(46, 46, 46, 0);
    position: absolute;
    border-right-color: rgb(255, 141, 0);
    border-right-width: 2px;
    top: 7%;
}

.upgradeLevel {
    width: 25%;
    height: 100%;
    max-height: 100%;
    bottom: 0;
    min-height: 100%;
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
    font-size: 100%;
}

.upgradeHeader {
    font-size: 200%;
    color: rgb(59, 255, 0);
    -unity-text-align: middle-center;
    top: auto;
    width: 90%;
    left: 5%;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-width: 2px;
    margin-top: 0;
    padding-bottom: 2%;
    max-height: 7%;
    height: 7%;
    max-width: none;
}

.upgradeContainer {
    flex-grow: 1;
    width: 90%;
    max-height: 10%;
    left: 5%;
    top: auto;
    background-color: rgb(31, 31, 31);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    flex-direction: row;
    margin-top: 4%;
    height: 10%;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 10%;
}

.upgradeName {
    width: 50%;
    border-right-color: rgb(255, 255, 255);
    border-right-width: 2px;
    height: 100%;
    max-height: 100%;
    bottom: 0;
    min-height: 100%;
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
    border-left-color: rgb(255, 255, 255);
    border-left-width: 2px;
    font-size: 20px;
}

.storeItemName {
    width: 75%;
    border-right-color: rgb(255, 255, 255);
    border-right-width: 2px;
    height: 100%;
    max-height: 100%;
    bottom: 0;
    min-height: 100%;
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
    border-left-color: rgba(0, 0, 0, 0);
    border-left-width: 0;
    font-size: 130%;
    white-space: pre-wrap;
}

.canUpgrade {
    color: rgb(59, 255, 0);
}

.cannotUpgrade {
    color: rgb(255, 0, 0);
}

.upgradeList {
    max-height: 82%;
    height: 82%;
    min-height: 82%;
    width: 100%;
}

.department {
    flex-grow: 1;
    width: 95%;
    left: 2.5%;
    max-height: 250px;
    min-height: 250px;
    margin-top: 1.25%;
    background-color: rgb(46, 46, 46);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgb(255, 141, 0);
    border-right-color: rgb(255, 141, 0);
    border-top-color: rgb(255, 141, 0);
    border-bottom-color: rgb(255, 141, 0);
    height: 250px;
    margin-bottom: 1.25%;
    overflow: hidden;
}

.departmentHeader {
    flex-grow: 1;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-width: 2px;
    width: 100%;
    max-height: 15%;
    min-height: auto;
    height: 15%;
}

.departmentHeaderLabel {
    width: 20%;
    max-height: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    font-size: 150%;
    -unity-font-style: normal;
    -unity-text-align: middle-center;
}

.departmentManager {
    flex-grow: 1;
    width: 20%;
    height: 100%;
    max-height: 100%;
    border-right-color: rgb(255, 255, 255);
    border-right-width: 2px;
    max-width: 20%;
}

.departmentManagerImg {
    flex-grow: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left-color: rgb(255, 141, 0);
    border-right-color: rgb(255, 141, 0);
    border-top-color: rgb(255, 141, 0);
    border-bottom-color: rgb(255, 141, 0);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    width: auto;
    max-height: 100%;
    max-width: 70%;
    margin-left: 5%;
    height: 100%;
    min-height: 50px;
}

.departmentManagerContainer {
    flex-grow: 1;
    flex-direction: row;
    max-height: 80%;
    top: auto;
    margin-top: 5%;
}

.departmentManagerButtons {
    flex-grow: 1;
    width: auto;
    max-width: 15%;
    margin-left: 5%;
}

.departmentManagerButtonUp {
    background-color: rgba(31, 31, 31, 0);
    min-height: auto;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    top: 30%;
    max-height: 15%;
    height: 15%;
    background-image: url("project://database/Assets/square-caret-up-regular.png?fileID=6709490733029022491&guid=d1e490dc26130b34f9d09936af8d4216&type=3#square-caret-up-regular_0");
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.departmentManagerButtonDown {
    min-height: auto;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    top: 37.5%;
    height: 15%;
    max-height: 15%;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    background-image: url("project://database/Assets/square-caret-down-regular.png?fileID=5498669254548924694&guid=8d80e9abf6f0bd54c8008c6b25f6003b&type=3#square-caret-down-regular_0");
}

.headerButton {
    min-height: 20px;
    height: auto;
}

.departmentEmployeeList {
    min-height: 10px;
    height: auto;
    flex-grow: 1;
}

.departmentStats {
    min-height: 20px;
    height: auto;
    flex-grow: 1;
}

.managerLabel {
    width: 70%;
    left: 5%;
    max-height: 20%;
    height: 20%;
    color: rgb(255, 255, 255);
    font-size: 15px;
    -unity-text-align: middle-center;
}

.panelNav {
    flex-grow: 1;
    flex-direction: row;
    border-top-width: 2px;
    border-top-color: rgb(255, 141, 0);
    border-left-color: rgb(255, 141, 0);
    border-right-color: rgb(255, 141, 0);
    border-bottom-color: rgb(255, 141, 0);
    max-height: 10%;
    height: 10%;
    min-height: 10%;
    justify-content: center;
    align-items: auto;
    align-self: auto;
    align-content: flex-start;
    width: 20%;
    position: absolute;
    top: 90%;
}

.managerLabel {
    width: 70%;
    left: 5%;
    max-height: 20%;
    height: 20%;
    color: rgb(255, 255, 255);
    font-size: 15px;
    -unity-text-align: middle-center;
}

.panelNavButton {
    background-image: none;
    background-color: rgba(0, 0, 0, 0);
    max-height: 100%;
    background-size: 50% 70%;
    background-position-y: top 10%;
    -unity-text-align: lower-center;
    height: 100%;
    min-height: 100%;
    color: rgb(255, 255, 255);
    font-size: 100%;
    -unity-font-style: normal;
    margin-left: 1%;
    width: 23%;
    margin-right: 0;
}

.departmentSection {
    flex-grow: 1;
    width: 100%;
    max-height: 85%;
    height: 85%;
    flex-direction: row;
}

.departmentEmployees {
    flex-grow: 1;
    flex-direction: row;
}

.departmentEmployee {
    flex-grow: 1;
    width: 20%;
    height: 100%;
    max-height: 100%;
    margin-left: 1%;
    max-width: 20%;
    min-width: 20%;
    margin-right: 1%;
}

.departmentEmployeePicture {
    flex-grow: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgb(255, 141, 0);
    border-right-color: rgb(255, 141, 0);
    border-top-color: rgb(255, 141, 0);
    border-bottom-color: rgb(255, 141, 0);
    max-height: 75%;
    min-height: 75%;
    height: 75%;
    margin-top: 5%;
}

.departmentEmployeeLabel {
    width: 100%;
    max-height: 20%;
    height: 20%;
    color: rgb(255, 255, 255);
    font-size: 15px;
    -unity-text-align: middle-center;
    min-height: 20%;
}

.employeeListItem {
    flex-grow: 1;
    width: 92%;
    max-width: none;
    max-height: 35%;
    left: 5%;
    min-width: auto;
    min-height: 35%;
    height: 35%;
    background-color: rgb(31, 31, 31);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 5%;
    flex-direction: row;
    overflow: hidden;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgb(255, 141, 0);
    border-right-color: rgb(255, 141, 0);
    border-top-color: rgb(255, 141, 0);
    border-bottom-color: rgb(255, 141, 0);
}

.employeeListItemPicture {
    flex-grow: 1;
    width: auto;
    max-width: 40%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgb(255, 141, 0);
    border-right-color: rgb(255, 141, 0);
    border-top-color: rgb(255, 141, 0);
    border-bottom-color: rgb(255, 141, 0);
    max-height: 60%;
    top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    background-image: url("project://database/Assets/person%20pic.jpg?fileID=2095417142389021186&guid=202aca5f490fa7a4b9a2bedf4d174cff&type=3#person pic_0");
}

.employeeListItemDetails {
    max-width: 56%;
    width: 54%;
    height: auto;
    top: 5%;
    color: rgb(255, 255, 255);
    white-space: pre-wrap;
    text-overflow: ellipsis;
    font-size: 100%;
}

.newHireListItem {
    flex-grow: 1;
    width: 92%;
    max-width: none;
    max-height: 40%;
    left: 5%;
    min-width: auto;
    min-height: 40%;
    height: 40%;
    background-color: rgb(31, 31, 31);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 5%;
    flex-direction: row;
    overflow: hidden;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgb(255, 141, 0);
    border-right-color: rgb(255, 141, 0);
    border-top-color: rgb(255, 141, 0);
    border-bottom-color: rgb(255, 141, 0);
}

.newHireListItemPicture {
    flex-grow: 1;
    width: auto;
    max-width: 40%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgb(255, 141, 0);
    border-right-color: rgb(255, 141, 0);
    border-top-color: rgb(255, 141, 0);
    border-bottom-color: rgb(255, 141, 0);
    max-height: 70%;
    top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    background-image: url("project://database/Assets/person%20pic.jpg?fileID=2095417142389021186&guid=202aca5f490fa7a4b9a2bedf4d174cff&type=3#person pic_0");
}

.newHireListItemDetails {
    max-width: 56%;
    width: 54%;
    height: 70%;
    top: 5%;
    color: rgb(255, 255, 255);
    white-space: pre-wrap;
    text-overflow: ellipsis;
    font-size: 100%;
}

.newHireListItemRejectButton {
    position: absolute;
    width: 35%;
    height: 15%;
    top: 80%;
    background-color: rgb(46, 46, 46);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgb(255, 0, 0);
    border-right-color: rgb(255, 0, 0);
    border-top-color: rgb(255, 0, 0);
    border-bottom-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    left: 55%;
    font-size: 120%;
}

.newHireListItemHireButton {
    position: absolute;
    width: 35%;
    height: 15%;
    top: 80%;
    background-color: rgb(46, 46, 46);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgb(59, 255, 0);
    border-right-color: rgb(59, 255, 0);
    border-top-color: rgb(59, 255, 0);
    border-bottom-color: rgb(59, 255, 0);
    color: rgb(255, 255, 255);
    left: 10%;
    font-size: 120%;
}

.employeeManager {
    flex-grow: 1;
    position: absolute;
    width: 30%;
    background-color: rgb(31, 31, 31);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgb(255, 141, 0);
    border-right-color: rgb(255, 141, 0);
    border-top-color: rgb(255, 141, 0);
    border-bottom-color: rgb(255, 141, 0);
    height: 80%;
    top: 9%;
    left: 21%;
    overflow: hidden;
}

.employeeManagerHeader {
    flex-grow: 1;
    width: 100%;
    height: 10%;
    max-height: 10%;
    min-height: 10%;
    border-bottom-width: 2px;
    border-bottom-color: rgb(255, 141, 0);
    flex-direction: row;
}

.employeeManagerHeaderName {
    width: 78%;
    height: 100%;
    max-height: 100%;
    color: rgb(255, 255, 255);
    -unity-text-align: middle-left;
    margin-left: 2%;
    font-size: 200%;
}

.employeeManagerHeaderClose {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("project://database/Assets/x-solid.png?fileID=-6459739394519215524&guid=706233d34ee7ba84dad835acd3794055&type=3#x-solid_0");
    -unity-background-scale-mode: scale-to-fit;
    background-size: 60% 50%;
    width: 10%;
    left: 10%;
}

.employeeManagerImage {
    flex-grow: 1;
    width: 30%;
    max-width: 30%;
    margin-left: 1%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgb(255, 141, 0);
    border-right-color: rgb(255, 141, 0);
    border-top-color: rgb(255, 141, 0);
    border-bottom-color: rgb(255, 141, 0);
    background-image: url("project://database/Assets/person%20pic.jpg?fileID=2095417142389021186&guid=202aca5f490fa7a4b9a2bedf4d174cff&type=3#person pic_0");
}

.employeeManagerSection {
    flex-grow: 1;
    flex-direction: row;
    max-height: 30%;
}

.employeeManagerDetails {
    width: 67%;
    max-width: 68%;
    height: 100%;
    max-height: 100%;
    left: 1%;
    color: rgb(255, 255, 255);
    font-size: 110%;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}

.employeeManagerSectionHeader {
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
    font-size: 140%;
    max-height: 15%;
    height: 15%;
}

.EMStat {
    flex-grow: 1;
    height: 31%;
    max-height: 31%;
    margin-bottom: 2%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgb(255, 141, 0);
    border-right-color: rgb(255, 141, 0);
    border-top-color: rgb(255, 141, 0);
    border-bottom-color: rgb(255, 141, 0);
    width: 90%;
    left: 5%;
    background-color: rgb(46, 46, 46);
    overflow: hidden;
}

.EMStatProgress {
    flex-grow: 1;
    width: 16%;
    height: 100%;
    max-height: 100%;
    background-color: rgba(59, 255, 0, 0.5);
}

.EMStatText {
    font-size: 160%;
    height: 100%;
    position: absolute;
    width: 100%;
    -unity-text-align: middle-center;
    color: rgb(255, 255, 255);
}

.EMButton {
    max-height: 100%;
    height: 20%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(46, 46, 46);
    color: rgb(255, 255, 255);
    border-left-color: rgb(255, 141, 0);
    border-right-color: rgb(255, 141, 0);
    border-top-color: rgb(255, 141, 0);
    border-bottom-color: rgb(255, 141, 0);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    margin-top: 2%;
}

.EditPanel {
    flex-grow: 1;
    position: absolute;
    width: 50%;
    background-color: rgb(31, 31, 31);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgb(255, 141, 0);
    border-right-color: rgb(255, 141, 0);
    border-top-color: rgb(255, 141, 0);
    border-bottom-color: rgb(255, 141, 0);
    height: 30%;
    top: 10%;
    left: 32%;
}

.EditPanelHeader {
    width: 100%;
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
    font-size: 140%;
    margin-top: 2%;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
    border-left-width: 0;
    border-bottom-color: rgb(255, 141, 0);
    height: 20%;
}

.EditPanelOldValue {
    color: rgb(255, 255, 255);
    font-size: 100%;
    -unity-text-align: middle-center;
    margin-top: 2%;
    white-space: pre-wrap;
}

.EditPanelInput {
    background-color: rgb(109, 109, 109);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    width: 95%;
    color: rgb(255, 255, 255);
    font-size: 100%;
    overflow: hidden;
    top: 5%;
    left: 2.5%;
    height: 20%;
    border-left-color: rgb(255, 141, 0);
    border-right-color: rgb(255, 141, 0);
    border-top-color: rgb(255, 141, 0);
    border-bottom-color: rgb(255, 141, 0);
    display: flex;
}

.EditPanelButton {
    background-color: rgb(46, 46, 46);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgb(255, 141, 0);
    border-right-color: rgb(255, 141, 0);
    border-top-color: rgb(255, 141, 0);
    border-bottom-color: rgb(255, 141, 0);
    width: 50%;
    height: 20%;
    left: 25%;
    top: 15%;
    color: rgb(255, 255, 255);
}

.EditPanelCancel {
    flex-grow: 1;
    position: absolute;
    top: 0;
    left: 90%;
    width: 8%;
    max-width: 10%;
    height: 22%;
    background-image: url("project://database/Assets/x-solid.png?fileID=-6459739394519215524&guid=706233d34ee7ba84dad835acd3794055&type=3#x-solid_0");
    background-size: 100% 60%;
}
